--prefer-binary
numpy==2.3.4
pandas==2.2.3
python-binance==1.0.19
python-dotenv==1.0.1
requests==2.32.3
aiohttp==3.10.5
websockets==13.1
dateparser==1.2.0
urllib3==2.2.3
certifi==2024.8.30
idna==3.10
charset-normalizer==3.4.0
python-dateutil==2.9.0.post0
six==1.16.0
flask==2.3.3
